:root {
  --font-size: 4rem;
  --line-height: 1.6;
  --space: calc(var(--font-size) * (var(--line-height)));

  --font-serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

html {
  font-family: var(--font-serif);
  font-size: 62.5%;
  font-style: italic;
  line-height: 1.6;
  color: hsl(0, 0%, 98%);
  background-color: hsl(235, 40%, 30%);
  box-sizing: border-box;
  transition: all ease-in-out 150ms;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: calc(var(--space) / 2);
  font-size: var(--font-size);
}

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choices {
  display: flex;
  gap: var(--space);
  text-align: center;
  /* border: 4px solid #ff0; */
}

.choices button {
  flex: 1;
  border: 4px solid hsla(0, 0%, 50%, 0.1);
  border-radius: 100%;
  background: none;
  color: hsl(0, 0%, 98%);
  box-shadow: 0px 1px 1px #111;
  font-size: var(--font-size);
  font-family: var(--font-serif);
  font-style: italic;
  aspect-ratio: 1;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}

.choices button:not(:disabled):hover {
  border-color: hsla(0, 0%, 98%, 0.9);
  box-shadow: 0px 4px 8px #111;
  transform: translateY(-4px);
}

.choices button:not(:disabled):active {
  box-shadow: 0px 0px 0px #111;
  transform: translateY(2px);
  transition: all ease-in-out 50ms;
}

.choices button:disabled {
  opacity: 0.4;
  cursor: default;
}

.result {
  min-height: var(--space);
  text-align: center;
  /* border: 4px solid #ff0; */
}

.scores {
  display: flex;
  justify-self: flex-end;
  justify-content: space-between;
  /* border: 4px solid #ff0; */
}

.score-number {
  display: inline-block;
  width: var(--space);
  height: var(--space);
  text-align: center;
  font-family: sans-serif;
  border: 4px solid hsla(0, 0%, 50%, 0.1);
  border-radius: 20px;
}

.visible {
  color: hsla(0, 0%, 100%, 1);
  transition: color ease 200ms;
}

.hidden {
  color: hsla(0, 0%, 100%, 0);
  transition: color ease 200ms;
}
